* {
    margin: 0px;
}

body {
    background-color: black;
}

#curtain {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url("img/curtain.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat-x;
    bottom: 0%;
    transition: bottom 0.2s;
    z-index: 3;
}

#curtain:hover {
    bottom: 5%;
}

#light {
    pointer-events: none;
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 0);
    top: 5vh;
    height: 0px;
    width: 0px;
    border: 45vw solid transparent;
    border-top: 0px;
    border-bottom: 90vh solid yellow;
    transition: opacity 0.8s;
    z-index: 1;
}

.lightoff {
    opacity: 0;
}

.lighton {
    opacity: 0.5;
}

img {
    position: absolute;
    object-fit: scale-down;
}

#wizzard {
    left: 20%;
    bottom: 5%;
    width: 30%;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 0;
}

#hat {
    right: 30%;
    bottom: 10%;
    width: 14%;
    opacity: 0;
    transition: opacity 0.8s;
    z-index: 0;
}

#rabbit {
    right: 37%;
    bottom: 10%;
    width: 6%;
    transform: translate(50%, 0);
    opacity: 0;
    transition: opacity 0.8s, bottom 0.5s;
    z-index: -1;
}

#pigeon {
    right: 37%;
    bottom: 40%;
    width: 6%;
    transform: translate(50%, 0);
    opacity: 0;
    transition: opacity 0.8s, bottom 0.5s;
    z-index: -1;
}

#lamp-top {
    left: 50vw;
    transform: translate(-50%, 0px);
    top: 4vh;
    height: 10vh;
    object-position: bottom;
    z-index: 2;
}

#lamp-leg {
    left: 50vw;
    transform: translate(-50%, 0px);
    top: 13vh;
    height: 35vh;
    object-position: top;
    z-index: 0;
}

#lamp-switcher {
    left: 48vw;
    transform: translate(-50%, 0px);
    top: 6vh;
    transition: top 0.1s;
    height: 16vh;
}